.claim-status-box {
  /* border: 1px solid #000000; */
  width: 68px;
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 13px;
  padding-left: 2px;
  border-radius: 0.2rem;
  font-weight: 500;
  box-shadow: 0 0 2px  0 ;
}
.claim-status-box span {
  font-size: 16px;
  font-weight: 500;
}

.claim-status-open {
  border: 1px solid #139696;
  color: #139696;
}
.claim-status-priority {
  border: 1px solid #e39600;
  color: #e39600;
}
.claim-status-overdue {
  border: 1px solid #f07036;
  color: #f07036;
}

.custom-checkbox {
  accent-color: #d9d9d9; /* Default color */
}

.custom-checkbox:checked {
  accent-color: #139696 /* Color when checked */
}
