
.add-claim-form{
  display: "flex";
  gap: "18px";
  padding-top: "16px";
  align-items: "center";
  justify-content: "space-between";
  padding-inline: "1rem";
}
.model-header-title {
  /* font-family: ; */
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  color: #109590;
}

.modal-grid {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  width: 100%;
}
.modal-grid-buttons::placeholder {
  color: #5e5858;
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 200;
}
.custom-datepicker .ant-picker-input input::placeholder {
  color: #5e5858;
  /* font-family: Inter; */
  font-size: 18px;
  font-weight: 200;
}
