@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.main-header-container {
  margin: 0;
  display: flex;
  padding-inline: 2rem;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  overflow-x: hidden;
}
.header-right-sec {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1rem;
  /* margin-right: 1rem; */
}

.header-right-sec .company-name {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

 .header-right-sec .profile-settings {
  border: 1px solid #139696;
  color: #139696;
  padding-block: 0.3rem;
  padding-inline: .8rem;
  border-radius: 0.7rem;
  font:bold ;
  display: flex;
  justify-content: center;
  cursor: pointer;
  
}
 .header-right-sec .profile-settings strong{
    margin-left: 3px;
    font-size:18px ;
   
 }