.widget_input .ant-input.ant-input-borderless {
  padding: 0;
}

.edit_input {
  width: 85%;
}
.desc-buttons .ant-btn {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #139696;
}

.custom-table {
  width: 100%;
  border: 1px solid #d7e0e9;
  border-collapse: collapse;
  border-spacing: 0;
  /* margin: 0px -15px; */
  /* border: 1px solid ; */
}

.custom-table .ant-table-thead > tr > th {
  padding: 8px;
}

.custom-table .ant-table-tbody > tr > td {
  padding: 8px;
}

.custom-table .ant-table-thead > tr > th {
  background-color: white;
}



/*  */


.diagnosis-modal-container {
  padding: .7rem;
  
}

 .ant-layout-header {
  background: none;
}
/* Custom styles for Ant Design Tabs */
.custom-tabs .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border: none !important;
}

.add-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.diagnosis-modal .ant-modal-content {
  border-radius: 10px;
  padding: 1rem;
}

.diagnosis-modal .diagnosis-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.diagnosis-modal .heading-text {
  color: #109590;
  font-size: 1.2rem;
  font-weight: 500;
}

.diagnosis-modal .modal-btns {
  display: flex;
  gap: 1rem;
}

.diagnosis-modal .diagnosis-modal-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.diagnosis-modal .diagnosis-modal-controls >div{
  display: flex;
  gap: 1rem;
}
.d-modal-controll {
   width: 100%;
  white-space: nowrap;
  margin-block: .5rem;
  /* overflow: hidden; */
  text-overflow: ellipsis;}
.diagnosis-modal .modal-table-container {
  margin-top: 1rem;
}

.diagnosis-edit-container {
  display: flex;
  border: none;
  border-bottom: 1px solid #139696;
 
}
.diagnosis-edit-container .diagnosis-edit-input {
  border: none;
  width: 100%;
}

.container-btn{
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: end;
}

.diagnosis-edit-input:focus {
  outline: none; /* Removes the default outline */
  border: none; /* Ensures no border is shown */
  box-shadow: none; /* Removes any box shadow that might be used to indicate focus */
}